# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT PUSH DATASETS)
data/*
!data/.gitkeep

# Vector database (generated locally)
vector_db/*
!vector_db/.gitkeep

# Python build files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/